version: '3.9'
services:
  app:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - moph-ic-proxy.env.example
    depends_on:
      - redis
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "no"]
