APP_PORT=3000
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
MOPH_CLAIM_API=https://claim-nhso.moph.go.th
MOPH_PHR_API=https://phr1.moph.go.th
EPIDEM_API=https://epidemcenter.moph.go.th/epidem
FDH_API=https://fdh.moph.go.th
FDH_AUTH=https://fdh.moph.go.th
FDH_AUTH_SECRET=$$jwt@moph#
MOPH_IC_API=https://cvp1.moph.go.th
MOPH_IC_AUTH=https://cvp1.moph.go.th
MOPH_IC_AUTH_SECRET=$$jwt@moph#
MOPH_HCODE=your-hcode
USE_API_KEY=true
